<div
  id="calico-cat"
  aria-hidden="true"
  style="--cat-art: url('{{ '/assets/images/cat/calico-sprite.png' | relative_url }}');"
>
  <div class="cat-body"></div>
  <div class="cat-head">
    <div class="cat-face"></div>
    <div class="cat-eye cat-eye-left">
      <div class="cat-gaze"><span class="cat-pupil"></span></div>
      <span class="cat-lid"></span>
    </div>
    <div class="cat-eye cat-eye-right">
      <div class="cat-gaze"><span class="cat-pupil"></span></div>
      <span class="cat-lid"></span>
    </div>
  </div>
</div>
<script src="{{ '/assets/js/cat.js' | relative_url }}" defer></script>
